<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xadai APPs</title>
    <link rel="stylesheet" type="text/css" href="globalStyle.css">
    <link rel="stylesheet" type="text/css" href="{{css}}">
</head>
<body>

    <header>
        <h1>Xadai APPs</h1>
        <nav>
            <div>
                <span><a href="/home">Home</a></span>
                <span class="space"> | </span>
                <span><a href="/textmanipulator">Manipulador de texto</a></span>
                <span class="space"> | </span>
                <span><a href="/equacao">Resolvedor de equações</a></span>
                <span class="space"> | </span>
                <span><a href="/taxas">Conversor de Taxas</a></span>
                <span class="space"> | </span>
                <span><a href="/jogodavelha">Jogo da velha</a></span>
                <span class="space"> | </span>
                <span><a href="/counter">Contador</a></span>
                <span class="space"> | </span>
                <span><a href="/about">Sobre</a></span>
            </div>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <small>Xadai Santos, Nenhum Direito Reservado &copy;</small>
    </footer>

    <script src="{{js}}"></script>
</body>
</html>
