<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xadai APPs</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="{{css}}">
</head>
<body>

    <header>
        <h1>Xadai APPs</h1>
        <nav id="nav-bar">
            <div id="burguer">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div id="menu">
                <a href="/home"><div>Home</div></a>
                <a href="/conversordetexto"><div>Conversor de texto</div></a>
                <a href="/equacao"><div>Resolvedor de equações</div></a>
                <a href="/conversordetaxas"><div>Conversor de Taxas</div></a>
                <a href="/jogodavelha"><div>Jogo da velha</div></a>
                <a href="/contador"><div>Contador</div></a>
                <a href="/buscadorgithub"><div>Buscador GitHub</div></a>
                <a href="/sobre"><div>Sobre</div></a>
            </div>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <small>Xadai Santos, Nenhum Direito Reservado &copy;</small>
    </footer>

    <script src="main.js"></script>
    <script src="{{js}}"></script>
</body>
</html>
