<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xadai APPs</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="{{css}}">
</head>
<body>

    <header>
        <h1>Xadai APPs</h1>
        <nav id="nav-bar">
            <div id="burguer">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div id="menu">
                <div><a href="/home">Home</a></div>
                <div><a href="/conversordetexto">Conversor de texto</a></div>
                <div><a href="/equacao">Resolvedor de equações</a></div>
                <div><a href="/conversordetaxas">Conversor de Taxas</a></div>
                <div><a href="/jogodavelha">Jogo da velha</a></div>
                <div><a href="/contador">Contador</a></div>
                <div><a href="/buscadorgithub">Buscador GitHub</a></div>
                <div><a href="/sobre">Sobre</a></div>
            </div>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <small>Xadai Santos, Nenhum Direito Reservado &copy;</small>
    </footer>

    <script src="main.js"></script>
    <script src="{{js}}"></script>
</body>
</html>
