<main>

    <h2>O criador</h2>
    <p>Meu nome é Xadai Santos, e eu sou um estudante de TI. Tenho 33 anos, falo inglês fluente e tenho um entendimento e comunicação básicos em francês. Adoro aprender coisas novas, "codar" qualquer idéia maluca que apareça na minha cabeça, passar um tempo jogando jogos de computador, ou lendo livros e as vezes me aventurando num novo idioma (japonês, por exemplo).</p>
    
    <h2>A criação</h2>
    <p>Eu fiz esse site para ser um "recipiente" de qualquer coisa ou idéia que eu conseguir fazer, de coisas úteis a pequenos jogos. Também sou receptivo a algumas idéias!</p>
    
    <h2>O futuro</h2>
    <p>Eu estou planejando adicionar coisas novas logo. Eu apenas tenho que diminuir o tempo de jogo hahaha. Talvez um jogo da forca ou outra coisa seja uma boa adição para a página.</p>

</main>