<main>

    <label for="buscadorgithub">Digite o nome do usuário que você deseja buscar no GitHub: </label>
    <input type="text" name="buscadorgithub" id="buscadorgithub"><button id="buscar-github"><span class="fa fa-search"></span></button>

    <div id="informacao">
        <p>Nome: <span id="nome"></span></p>
        <p>Organização: <span id="organizacao"></span></p>
        <p>Localização: <span id="localizacao"></span></p>
        <p>Número de seguidores: <span id="numeroSeguidores"></span></p>
        <p>Repositórios: <span id="repos"></span></p>
    </div>

    <div id="nao-encontrou">
        <p>Não foi possível encontrar o usuário. Tente outro nome :)</p>
    </div>

</main>
