<main>

    <form action="">
        <div id="labels">
            <label for="textarea">O texto dos botões indica como as letras serão alteradas.</label>
        </div>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <div class="display-grid">
            <button id="sentence-first">Meu texto</button>
            <button id="word-first">Meu Texto</button>
            <button id="uppercase">MEU TEXTO</button>
            <button id="lowercase">meu texto</button>
            <button id="alternating">MeU TeXtO</button>
            <button id="inverted-alternating">mEu tExTo</button>
            <button id="rot13">ROT13</button>
            <button id="copyClipboard">Ctrl + C</button>
        </div>
    </form>

</main>