<main>

    <div id="number">
        <div>0</div>
    </div>
    <div>
        <button id="minus-ten">-10</button>
        <button id="minus-one">-1</button>
        <button id="zero">0</button>
        <button id="plus-one">+1</button>
        <button id="plus-ten">+10</button>
    </div>

</main>