<main>

    <div>Altere os coeficientes da equação do segundo grau. Caso seja uma equação do primeiro grau, o primeiro coeficiente será zero.</div>

    <div id="display-equacao">
        <label for="coef_1"><input id="coef_a" value="1" type="number" name="coef_1" id="">x&#178; +</label>
        <label for="coef_2"><input id="coef_b" value="2" type="number" name="coef_2" id="">x +</label>
        <label for="coef_3"><input id="coef_c" value="1" type="number" name="coef_3" id=""></label>
    </div>

    <div id="outputs">
        <div>Delta: <span id="delta">0</span></div>
        <div>Raízes: <span id="raizes">0</span></div>
    </div>

</main>