<main>

    <p>Bem vindos ao meu site! Há alguns apps simples no canto superior direito da página, Eu espero que sejam úteis.</p>
    <p>Eu vou tentar adicionar todos os projetos que eu terminar aqui. Sintam-se livres para usar qualquer app ou conteúdo disponível nessa página.</p>

</main>