<main>

    <div id="mensagem-1">O "<span id="jogador">X</span>" joga agora!</div>
    <div id="mensagem-2"></div>

    <table id="tabuleiro">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div><button id="recomecar">Recomeçar!</button></div>

</main>