<main>

    <div id="first-div">
        <div><input type="number" name="mesParaAno" id="mpaInput"><label for="mesParaAno">% por mês</label></div>
        <div>É igual a <span id="mpaOutput">0.00</span>% por ano.</div>
    </div>

    <div id="second-div">
        <div><div><input type="number" name="anoParaMes" id="apmInput"><label for="anoParaMes">% por ano</div></div>
        <div>É igual a <span id="apmOutput">0.00</span>% por mês.</div>
    </div>
    
</main>