<main class="display-grid">

    <form action="">
        <label for="textarea">Digite o texto. Escolha as opções.</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <div>
            <button id="sentence-first">Primeira da frase</button>
            <button id="word-first">Primeira Da Palavra</button>
            <button id="uppercase">MAIÚSCULA</button>
            <button id="lowercase">minúscula</button>
            <button id="alternating">AlTeRnAnDo 1</button>
            <button id="inverted-alternating">aLtErNaNdO 2</button>
            <button id="rot13">ROT13</button>
            <button id="copyClipboard">Ctrl + C</button>
        </div>
    </form>

</main>