main {
    text-align: left;
}

main label {
    display: block;
    margin-bottom: 10px;
    /* letter-spacing: 5px; */
    font-weight: bold;
    /* text-transform: uppercase; */
    font-style: italic;
}

main input[type="text"], main button {
    padding: 5px;
}

main button {
    width: 30px;
}

#informacao, #nao-encontrou {
    margin-top: 15px;
    display: none;
}