main {
    text-align: left;
}

main input {
    width: 30px;
}

main label {
    padding-left: 5px;
}

main span {
    margin-right: 5px;
}

main #first-div {
    margin-bottom: 40px;
}

main #first-div div, #second-div div {
    margin-bottom: 10px;
}