main {
    text-align: justify;
}

main input {
    width: 40px;
    padding: 1px 0 1px 1px;
}

main > div:first-child {
    margin: 0 0 20px 0;
}

#display-equacao {

}

input {
    width: 40px;
}

#outputs {
    margin: 20px 0 0 0;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

label {
    margin-left: 2px;
}