/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: monospace;
    color: #454545;
}

body {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: calc(100vh - 220px - 110px);
    padding: 20px;
    background-color: #f1f1f1;
}

/* HEADER */

header {
    height: 220px;
    padding: 20px 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    background-color: #454545;
    color: #f1f1f1;
}

header a:hover {
    text-decoration: underline;
}

/* MAIN */

/* FOOTER */

footer {
    display: grid;
    place-items: center;
    height: 110px;
    grid-template-columns: 1fr;
    background-color: #454545;
    color: #f1f1f1;
    padding: 20px 0;
}

@media(max-width: 1000px) { /* cheque 360px, 600px, 800px, 100px0, 1100px */
    
    header nav div {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }
    
    .space {
        display: none;
    }
}