main {
    display: grid;
    grid-template-columns: 1fr;
    place-items: flex-start center;
}

#jogador {
    font-weight: bold;
    text-transform: uppercase;
}

#mensagem-2 {
    color: green;
    font-weight: bold;
    display: none;
}

table {
    user-select: none;
    margin: 10px 0 10px 0;
    width: 60vmin;
    height: 60vmin;
    table-layout: fixed;
}

table td {
    height: 32%;
}

table * {
    border: 1px solid black;
    font-size: calc(60vmin / 7);
}

#recomecar {
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}

@media(max-width: 1000px) {
    
}

@media(min-width: 1000px) {
    
}