/* GLOBAL */

:root {
    --color-one: #454545;
    --color-two: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    font-size: 16px;
    font-family: monospace;
    color: var(--color-one);
}

body {
    text-align: center;
}

ul {
    list-style: none;
}

header a, footer a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: calc(100vh - 110px - 110px);
    padding: 20px;
    background-color: var(--color-two);
}

/* HEADER */

header {
    height: 110px;
    padding: 20px 0;
    background-color: var(--color-one);
    color: var(--color-two);
    display: grid;
    place-items: center center;
}

header a:hover {
    text-decoration: underline;
}

#menu {
    padding: 5px;
    background-color: var(--color-one);
    text-align: left;
    position: absolute;
    top: 40px;
    right: 0px;
    border: 2px solid black;
    display: none;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

#burguer {
    border: 2px solid black;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.line {
    height: 0.4rem;
    width: 30px;
    background-color: var(--color-two);
    border-radius: 20%;
}

/* MAIN */

/* FOOTER */

footer {
    display: grid;
    place-items: center;
    height: 110px;
    grid-template-columns: 1fr;
    background-color: var(--color-one);
    color: var(--color-two);
    padding: 20px 0;
}
