main {
    text-align: left;
}

input {
    width: 30px;
}

label {
    padding-left: 5px;
}

span {
    margin-right: 5px;
}

#first-div {
    margin-bottom: 40px;
}

#first-div div, #second-div div {
    margin-bottom: 10px;
}