main {
    grid-template-columns: 1fr;
    display: grid;
    place-items: flex-start center;
}

form {
    width: 80%;
}

form div {
    margin: 20px auto 0 auto;
    grid-template-columns: 1fr 1fr;
}

#labels {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
}

textarea {
    width: 700px;
    height: 300px;
    padding: 10px;
}

button {
    padding: 5px;
    width: 100px;
    margin-bottom: 10px;
}

@media(max-width: 1000px) {
    
    textarea {
        width: 85%;
        height: 150px;
    }
}

@media(max-width: 600px) {
    textarea {
        
    }
    
}